/* Reg Info CSS */

#other {
	margin-top: 8px; margin-bottom: 15px; font-weight: 500; font-size: 12px; color: #FF0505;
}

#other input {
	color: #000;
}



/* Survey CSS */

.checkbox2 {width: 24px !important;}
.surveyForm label {color: rgb(51, 52, 53); font-weight: 700; font-size: 15px;}


/* Properties of Sponsors on Retrospective pages */

.sponsors {margin-bottom:8px;}

/* Countdown CSS */

#countdown {
	height: 40px;
	margin-top: 10px;
	font-size: 25px;
	margin-left: ;
}

/* Countdown CSS END */

.mainLogo {
width: 19%; height: 19%; margin-bottom: -10px; margin-top: 15px;
}

/* Speaker Page CSS */

#speakerList {
	list-style-type: disc;
	margin-left: 30px;
	font-size: 15px;
}

#speakerP {
	font-size: 15px;
}

#form_923064 {
	display: table;

}

.container {
	width: 1000px !important;
	clear: both;
}

.container input {
	width: 100%;
	clear: both;
}

label {
	font-weight: 500;
	font-size: 17;
	border: 10px;
	display: ;
}

#speakerLi {
	display: table-row;

}

.speakerForm {
	vertical-align: right;
	display: table-cell; 
	margin: 3px;
}

textarea {
	height: 180px;
	clear: both;
	width: 80%;

}

#saveForm {
	width: 30%;
	margin-top: 20px;
}

.buttons {
	list-style-type: none;
}

.shirtSize {
	margin-top: 8px;
	margin-bottom: 8px;
}

#shirt {
	margin-bottom: 8px;
}

#audience {
	margin-bottom: 8px;
}

#format {
	margin-bottom: 8px;
}

/* Registration table css */

.container2 {	
	margin-left: auto;
	margin-right: auto;
	width: 89%;
}
.container2 input {
	clear: both;
}
#regButton {
	padding: 15px;
	font-size: 20px;
	margin-bottom: 20px;
}
#regButton:active,
#regButton:focus,
#regButton:hover,
{color: white;}
#regButton2 {
	padding: 15px;
	font-size: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}
#regButton3 {
	padding: 10px;
	font-size: 17px;
}

#regButton4 {
	font-size: 39px;
	line-height: 39px;
	padding: 25px;
}
.regHeader{
	color:black; font-weight: 400
}

#content2{
	margin-top: -50px;
}

.regTable {
	color: black;
	width: 100%;
}
.regTable p{
	font-size: 11px;
	margin-top: -5px;
}
.regTable span {
	font-size: 12px;
	letter-spacing: -0.5px;
}
.regTable tbody tr th span {
	font-weight: 600;}
.regTable th {
	padding-top: 5px;
	font-size: 14px;
	font-weight: 400;
	text-align: left;}
.col-md-99{
	width: 100%;
}

/* Registration Button */

#newButton {
    color: #fff;
    background-color:#FF5800;
    padding: 7px;
    font-size: 20px;
    border-radius: 10px;}
#newButton:hover 
{color: #000;}
#newButton i {
    padding: 3px;
}

/* Lodging List */

.lodgeList li {
	margin: 0px !important;
	line-height: 14px !important;
}

/* Sponsors Page CSS */

.post-media2 {
	margin-bottom: 20px;
	overflow: hidden;
}
.post-media2 img {max-width: 100%; width: 400px; height: auto; border-radius: 5px;}

/* Agenda Page CSS */

.noBorder {border-bottom: 0px;}

#fontAwesomeNoBorder {padding-top: 45px; border: 0px !important; border-radius: 0px !important;}


/* Sharkbytes CSS */

@media (min-width: 992px) {
	.sharkbytes {width: 75% !important;}
}

@media (min-width: 768px) {
.sharkbytes {width: 60%;}
} 

@media (max-width: 768px) {
	.sharkbytes {width: 50% !important; margin-left: 60px !important;}
}

.post-meta h3 {margin-top: -3px;}
.post-body p {font-weight: 600;}

/* Media for site fix */

@media only screen and (max-device-width: 470) {
	.owl-carousel.owl-loaded {display: block}
	.owl-carousel {width: 100%; position: relative; z-index: 1;}
}

@media (min-width: 470px) {
.container {width: 300px;}
.owl-stage .owl-carousel {width: 300px !important; position: relative;}
}
@media (max-width: 470px) {
.btn-theme-lg {width: 220px; font-size: 12px; padding: 10px;}
}

/* Registration '16 CSS */
.accordion-group { margin: 5px;}
.accordion-heading {background-color: #386090; padding: 8px; border-radius: 3px;}
.accordion-heading .accordion-toggle {color: white;}
.accordion-heading h4 {color: white; margin: 5px;}
.centered {text-align: center;}
.centered td {font-size: 17px;}
.reg16Table {color: black; margin-top: 5px;}
.reg16Table th {padding: 5px; font-size: 17px; color: white; text-align: center;}
.reg16Table td {font-size: 15px; padding: 7px;}
.reg16Table thead {background-color: #386090;  border-radius: 3px;  padding: 8px;}
.reg16Table thead tr {border-radius: 3px;}
.reg16Table span {font-size: 12px; letter-spacing: -0.5px; font-weight: 600;}}
.reg16Table .mainHeader {color: white; font-weight: 400;}
.reg16Table .checked {background: url('assets/img/dot.png') no-repeat center center; border: 1px solid #d7d7d7;}
.reg16Table .border {border: 1px solid #d7d7d7; text-align: center;}
.reg16Table .brdr {border-top: 1px solid #d7d7d7; border-bottom: 1px solid #d7d7d7;}
.reg16Table .brdr2 {border-top: 1px solid #d7d7d7; border-bottom: 1px solid #d7d7d7; font-weight: 600;}

.reginfo {margin-left: 150px;}

@media (max-width: 767px) {
	.reginfo {margin-left: 0px !important;}
}

@media (max-width: 991px) and (min-width: 600px) {
	.reginfo {width: 60%;}
}

/* Main index page layout */

.mainIcon {width: 100%; height: 100%; vertical-align: 50%; background: url("../mainIcon.png");}
@media screen and (max-width: 1024px) {
   body .mainIcon {width: 376px !important; height: 268px !important; background: url("../mainIcon2.png") !important;}

