/* TRANSPARENCY FIX FOR IE6 and less */
#primaryNav li.navEvent a.firstLevel{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', src='assets/images/ie6/nav_normal_01.png',sizingMethod='fixed'); }
#primaryNav li.navSchedule a.firstLevel{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', src='assets/images/ie6/nav_normal_02.png',sizingMethod='fixed'); }
#primaryNav li.navTracks a.firstLevel{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', src='assets/images/ie6/nav_normal_03.png',sizingMethod='fixed'); }
#primaryNav li.navRegister a.firstLevel{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', src='assets/images/ie6/nav_normal_04.png',sizingMethod='fixed'); }
#primaryNav li.navLodging a.firstLevel{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', src='assets/images/ie6/nav_normal_05.png',sizingMethod='fixed'); }
#primaryNav li.navSponsors a.firstLevel{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', src='assets/images/ie6/nav_normal_06.png',sizingMethod='fixed'); }
#primaryNav li.navRetrospective a.firstLevel{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', src='assets/images/ie6/nav_normal_07.png',sizingMethod='fixed'); }
#primaryNav li.navWireshark a.firstLevel{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', src='assets/images/ie6/nav_normal_08.png',sizingMethod='fixed'); }

#primaryNav li.navEvent a.firstLevel:hover{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', src='assets/images/ie6/nav_over_01.png',sizingMethod='fixed'); }
#primaryNav li.navSchedule a.firstLevel:hover{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', src='assets/images/ie6/nav_over_02.png',sizingMethod='fixed'); }
#primaryNav li.navTracks a.firstLevel:hover{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', src='assets/images/ie6/nav_over_03.png',sizingMethod='fixed'); }
#primaryNav li.navRegister a.firstLevel:hover{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', src='assets/images/ie6/nav_over_04.png',sizingMethod='fixed'); }
#primaryNav li.navLodging a.firstLevel:hover{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', src='assets/images/ie6/nav_over_05.png',sizingMethod='fixed'); }
#primaryNav li.navSponsors a.firstLevel:hover{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', src='assets/images/ie6/nav_over_06.png',sizingMethod='fixed'); }
#primaryNav li.navRetrospective a.firstLevel:hover{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', src='assets/images/ie6/nav_over_07.png',sizingMethod='fixed'); }
#primaryNav li.navWireshark a.firstLevel:hover{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', src='assets/images/ie6/nav_over_08.png',sizingMethod='fixed'); }

#pageEvent #primaryNav li.navEvent a.firstLevel, #pageEvent #primaryNav li.navEvent a.firstLevel:hover{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', src='assets/images/ie6/nav_current_01.png',sizingMethod='fixed'); }
#pageSchedule #primaryNav li.navSchedule a.firstLevel, #pageSchedule #primaryNav li.navSchedule a.firstLevel:hover{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', src='assets/images/ie6/nav_current_02.png',sizingMethod='fixed'); }
#pageTracks #primaryNav li.navTracks a.firstLevel, #pageTracks #primaryNav li.navTracks a.firstLevel:hover{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', src='assets/images/ie6/nav_current_03.png',sizingMethod='fixed'); }
#pageRegister #primaryNav li.navRegister a.firstLevel, #pageRegister #primaryNav li.navRegister a.firstLevel:hover{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', src='assets/images/ie6/nav_current_04.png',sizingMethod='fixed'); }
#pageLodging #primaryNav li.navLodging a.firstLevel, #pageLodging #primaryNav li.navLodging a.firstLevel:hover{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', src='assets/images/ie6/nav_current_05.png',sizingMethod='fixed'); }
#pageSponsors #primaryNav li.navSponsors a.firstLevel, #pageSponsors #primaryNav li.navSponsors a.firstLevel:hover{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', src='assets/images/ie6/nav_current_06.png',sizingMethod='fixed'); }
#pageRetrospective #primaryNav li.navRetrospective a.firstLevel, #pageRetrospective #primaryNav li.navRetrospective a.firstLevel:hover{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', src='assets/images/ie6/nav_current_07.png',sizingMethod='fixed'); }
#pageWireshark #primaryNav li.navWireshark a.firstLevel, #pageWireshark #primaryNav li.navWireshark a.firstLevel:hover{ background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', src='assets/images/ie6/nav_current_08.png',sizingMethod='fixed'); }
