
* {
	text-decoration: none;
	
}


background {
	position: fixed;
	z-index: -3;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
}

body{
	/*
	background-image:url('http://i.imgur.com/al1xSSm.jpg'); */
	background-image:url('assets/mtsitebackground1.jpg') 
	background-size: 100%;
	background-position: center top;
	background-repeat: no-repeat; 
	background-attachment: fixed;
	z-index: 2;
	background-color: rgba(0,0,0,0.9);
}

div {
	display: block;
}

a {
	z-index: 99;
}

#img {
	height: 100%;
	width: 100%;
	z-index: 99;
}

#youtube{
	z-index: 1;
	position:relative;
	clear: both;
	text-align: center;
	
}

#ytcontent{
	z-index: 1;
	text-align: center;
	margin-top: 140px;
}

#logo {
	z-index: 3;
	height: 120px;
	width: 280px;
	margin-top: 50px;
	  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    text-align: left;
	float: left;
}

#wrapperLogo{
	 position: fixed;
    text-align: left;
    margin-top: -180px;
    z-index: 3;
	float: left;
	height:120px;
}

#belowvid{
	margin: auto;
	width: 1052px;
	height: 100%;
	margin-top:70px;
	position: relative;
	background-position: center center;
	text-align: center;
	margin-bottom: 100px;
	
}

#twitterButton {
	z-index: 55;
	float: both;
	margin-left:200px;
	margin-top:160px;
	position: relative;
	
}

#facebookLike{
	z-index: 99;
	position: absolute;
	background-color: #e8e8e8;
	border-radius:5px;
	height: 28px;
	width: 162px;
	float:both;
	margin-left:545px;
	margin-top:2px;
}

#fb-like {
	position: absolute;
	margin-top: 4px;
	font-size: 13.5px;
	margin-left: 9px;
}

#fbtext{
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 13.5px;
	margin-top: 5px;
	margin-left: 40px;
	text-shadow: none;
	color: rgba(0,0,0,0.81);
}

#mc_embed_signup{
	margin-top:276px;
	margin-left:20px;
	z-index: 99;
	float: left;
	border-radius: 6px;
	position: absolute;
	height:90px;
}

#bandcamp{
	width: 100%;
	height: auto;
	z-index: 2;
}

#left{
	width: 50%;
	float:left;
	z-index: 2;
}

@font-face {
	font-family: "Bebas";
	src: url('documents/bebasneue-webfont.tff') format('truetype');
	src: url('documents/bebasneue-webfont.woff') format('woff');
	src: url('documents/BebasNeue.otf');
}	

#right {
	width: 50%;
	float: right;
	z-index: 2;
}

#shows {
	margin-top: -40px;
	margin-left:20px;
	letter-spacing: 2px;
	text-decoration: none;
	position: absolute;
	z-index: 2;
	float: left;
}



p{
	font-family: Bebas;
	color: white;
	font-size: 50px;
	text-decoration: none;
	text-shadow: 2px 2px 2px black;
	float: left;
}

#showlinks {
	margin-top: -20px;
	font-size: 40px;
	color:#c7c4c4
}


#showlinks:hover {
	color:#ff9e00
}

#backgroundbelow{

	width: 1052px;
	height:646px;
	z-index: 1;
	position: absolute;
	border-width: 2px;
	border-color: rgba(255,255,255,0.41); 
	
}

#player {
	background-position: center center;
}

#buttons {
	bottom: 0;
	margin-top: 385px;
	float: left;
	margin-left:20px;
	font-size:30px;
	display:block;
	
	
}

#buttons:hover {
	color:#ff9e00;
}

#bandcamp {
	z-index: 40;
}

#bandcampStore{
	width: 273px;
	height: 45px;
	background-color: #adadad;
	color: white;
	text-decoration: none;
	z-index: 1;
	margin-bottom: 2px;
}

#spotify {
	width: 260px;
	height: 45px;
	background-color: #adadad;
	color: white;
	text-decoration: none;
	z-index: 1;
	margin-top:2px;
}


#itunes {
	width: 300px;
	height: 45px;
	background-color: #adadad;
	color: white;
	text-decoration: none;
	z-index: 1;
	
}

#buttons #bandcampStore a p {
	margin:auto;
	text-decoration: none;
	margin-left: 7px;
	letter-spacing: 1px;
	font-size: 40px;
}

#buttons #bandcampStore a p:hover{
	color:#ff9e00;
}

#buttons #itunes a p {
	margin:auto;
	text-decoration: none;
	margin-left: 7px;
	letter-spacing: 1px;
	font-size: 40px;
}

#buttons #itunes a p:hover {
	color:#ff9e00;
}

#buttons #spotify a p {
	margin:auto;
	text-decoration: none;
	margin-left: 7px;
	letter-spacing: 1px;
	font-size: 40px;
}

#buttons #spotify a p:hover{
	color:#ff9e00;
}

#socialMedia {
	margin-left: 20px;
	float: left;
	display: -webkit-inline-box;
	margin-top: 15px;
	text-align: center;
	z-index: 3;
}

#hr1, #hr2{
	z-index: -2;
}

iframe {
	z-index: 99;
}
