/*
 * Start Bootstrap - Full (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    margin-top: 155px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    letter-spacing: 2px;
}

.header {width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #0683c9;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    -webkit-transform: translateZ(0);
    -webkit-font-smoothing: antialiased;
    }

.navbar-nav li a {letter-spacing: 0px;}

.navbar-brand span {font-size: 1.75rem;
display: block;
margin-top: -12px;
margin-left: 63px;
letter-spacing: -.5px;}

.fullcolumn {}
.fullcolumn img {margin: auto; display: block;}

.col-centered{
    float: none;
    margin: 0 auto;
}
/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

.full {
    background: url() no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.front-background { 
	background: url('../img/background18.jpg') no-repeat;     -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
     padding-left: 0px; padding-right: 0px;
     transition: background-size 0.5s ease;
     background-position: 50% 50%;
     background-size: 100% }
.front-background h1 {color: white; padding:15px; text-align: center; text-shadow: 1px 1px 1px black; 
	    font-size: 2.3rem;
    text-transform: uppercase; }
 .front-background:hover {    background-size:;}

.textdec-none:hover
{text-decoration: none;}
.textdec-none:focus
{text-decoration: none;}

.box1text {padding-top: px; padding-bottom: 300px;}
.box1background {background-color: rgba(43, 72, 111, 0.75);  overflow: hidden;}

.box2text { padding-bottom: 0px;}
.box2text a {text-decoration: none;}
.box2background { margin: 0 auto; background-color: rgba(43, 72, 111, 0.75);  overflow: hidden;}

.blue-background {background: linear-gradient(to right, rgb(19, 31, 51), rgb(51, 81, 134));     transition: background-size 0.5s ease;
    background-size: cover; position: relative; padding: 25px;}
.blue-background h3 {color: white; font-weight: 100; text-shadow: 2px 2px 2px black;}
.blue-background h3 {margin-top: 0px;}
.blue-background p {font-size: 15px; font-family: 'helvetica';}

.blue-background1 {background: #01498c;
    background: -webkit-linear-gradient(left,rgba(123, 144, 243, 0.98),rgb(0, 45, 56));
    background: -o-linear-gradient(right,rgba(123, 144, 243, 0.98),rgb(0, 45, 56));
    background: -moz-linear-gradient(right,rgba(123, 144, 243, 0.98),rgb(0, 45, 56));
    background: linear-gradient(to right, rgb(47, 44, 50), rgb(92, 52, 45));     transition: background-size 0.5s ease;
    background-size: cover; position: relative; padding: 25px; flex: 1;}
.blue-background1 h3 {color: white; font-weight: 100; text-shadow: 1px 1px 2px black;}
.blue-background1 h3 {margin-top: 0px;}
.blue-background1 a {color: #a1d3ff;}
.blue-background1 a:hover {text-decoration: none; color:#489ce4;}
.blue-background1 p {font-size: 15px; font-family: 'helvetica';}

.blue-background2 {    background: #01498c;
    background: -webkit-linear-gradient(left,rgba(123, 144, 243, 0.98),rgb(0, 45, 56));
    background: -o-linear-gradient(right,rgba(123, 144, 243, 0.98),rgb(0, 45, 56));
    background: -moz-linear-gradient(right,rgba(123, 144, 243, 0.98),rgb(0, 45, 56));
    background: linear-gradient(to right, rgb(99, 70, 44), rgb(179, 168, 128));
    transition: background-size 0.5s ease;
    background-size: 100%; position: relative; padding: 25px;}
.blue-background2 h3 {color: white; font-weight: 100; text-shadow: 1px 1px 1px black;}
.blue-background2 h3 {margin-top: 0px;}
.blue-background2 p {font-size: 15px; font-family: 'helvetica';}
.blue-background2 a {color: #46cef3;}

.sponsor-background {background: url('../img/sponsorshowcase3.jpg') no-repeat; transition: background-size 0.5s ease;
     position: relative; padding: 25px /*flex: 1 */; background-size: cover;}
.sponsor-background h3 {color: white; font-weight: 100; }
.sponsor-background h3 {margin-top: 0px; padding-bottom: 20px; text-shadow: 2px 2px 2px black;}
.sponsor-background p {font-size: 15px; font-family: 'helvetica';}


.about-background {background: linear-gradient(to right, rgb(19, 48, 51), rgb(90, 151, 126)); background-size: cover;    transition: background-size 0.5s ease;
     position: relative; padding: 25px;}
.about-background h3 {color: white; font-weight: 100; text-shadow: 1px 1px 1px black; letter-spacing: .09rem;}
.about-background h3 {margin-top: 0px;}
.about-background p {font-size: 15px; font-family: 'helvetica'; color:white;}
.about-background a {color: #46cef3;}

.about-background1 {background: linear-gradient(to right, rgb(61, 49, 96), rgb(169, 156, 195)); background-size: cover;    transition: background-size 0.5s ease;
     position: relative; padding: 25px;}
.about-background1 h3 {color: white; font-weight: 100; text-shadow: 1px 1px 1px black;}
.about-background1 h3 {margin-top: 0px;}
.about-background1 p {font-size: 15px; font-family: 'helvetica';}
.about-background1 a {color: #46cef3;}

@media (max-width: 1218px) and (min-width: 753px) {
  .reg-homepage p:nth-child(2) {display: none;}
  .reg-homepage p:nth-child(4) {display: none;}
}

@media (min-width: 1200px) {
    .reg-header {padding-bottom: 30px; height: 333px;}
    .agenda-header {padding-bottom: 30px; height: 333px;}
    .reg-image {background: url('../img/register-image18.jpg'); background-size: cover;}
    .agenda-image {background: url('../img/agenda-image.jpg'); background-size: cover;}
    .reg-header-background{ padding: 60px; }
    .agenda-header-background{ padding: 60px; }
    .campus-map img {margin-top: 10px;}
    .box2background {width: 39rem;}
    .speakers-page h2 {margin-top: 0px; padding-top: 30px; }
    .lower-sponsor-header {top: 53%;}
    .background-blue p {font-size: 14px;}
    .background-image {padding: 145px;}
    .background-image h3 {font-size: 6rem;}
    }

@media (max-width: 1199px) {
	 /*.blue-background1 {left: 50%; position: absolute;} */

     .about-gallery {text-align: center;}
     .sponsors-page .col-lg-6 {padding-right: 0px !important;}
     .reg-image {display: none;}
     .reg-header-background {text-align: center; padding: 20px;}
     .agenda-image {display: none;}
     .agenda-header-background {text-align: center; padding: 20px;}
     .campus-map img {margin-top: -5px;}
     .background-image {padding: 100px;}
     .background-image h3 {font-size: 5rem;}
     .background-blue p {font-size: 16px;}
}

@media (min-width: 992px ) {

  .shop-page {
    margin-top: 15rem;
  }
}

@media (max-width: 983px ){
    .navbar-brand span {margin-top: -7px;
    margin-left: 31px;
    letter-spacing: -0.05rem; font-size: 1.2rem;}
    body {margin-top: 98px;}
    .front-background {background-size: cover;}
    .front-background:hover {background-size: cover;}
    .navbar {min-height: 98px;}
    .navbar-brand {font-size: 30px;}
    .navbar-brand {margin-top: 12px;}

    .shop-page {
      margin-top: 10rem;
    }
  }

@media (max-width: 983px) and (min-width: 768px) {
  .header-logo {width: 150px !important; margin-top: -11px !important;}
}
 

@media (max-width: 960px) {
  .about-header {height: 300px !important;}
}

@media (min-width: 984px){
  .navbar-nav {padding-top: 18px;}
  .shrink .navbar-nav {padding-top: 4px;}
}

@media (min-width: 921px ) 
{
 /* .shrink > .navbar >.container > .navbar-header {margin-top: 10px ;} */
}

@media (max-width: 920px ){
	
    
    
    .front-background h1 {font-size: 35px;}
    
}

@media (max-width: 868px ){
    .blue-background {background-size: cover;}
    .blue-background1 {background-size: cover;}
    .blue-background2 {background-size: cover;}
    .blue-background h3 {font-size: 19px;}
    .blue-background1 h3 {font-size: 19px;}
    .blue-background2 h3 {font-size: 19px;}
    .blue-background p {font-size: 14px;}
    .blue-background1 p {font-size: 14px;}
    .blue-background2 p {font-size: 14px;}
    .sponsor-background {background-size: cover;}
    .about-background {background-size: cover;}
    .about-background1 {background-size: cover;}
    .sponsor-background h3 {font-size: 19px;} 
    .about-background h3 {font-size: 19px;}
    .about-background1 h3 {font-size: 19px;}
    .sponsor-background p {font-size: 14px;} 
    .about-background p {font-size: 14px;}
    .about-background1 p {font-size: 14px;}
}

@media (min-width: 768px) {
	.grid-container {width: 100% !important;}
    .shrink .navbar-brand {margin-top: 12px;}
    .shrunk .navbar-brand {margin-top: 20px;}
    

    .pull-right {float: right!important;}
    .column-about {padding-top:50px;}

    .retro-text h1 {position: absolute; left: 0; top: 3.8%;}
    /* #main-container {background-color: #385e81;} */
    .index-text h3 {line-height: 32px;}

}

.header-logo {width: 225px;}

@media (max-width: 767px) {
	.container {margin: auto; width: 96%;}
	.grid-container {padding: 0px;}
    .navbar-brand {margin-top: 0px;}
    .post-media a > img {max-width: 300px; text-align: center; margin: 0 auto; display: flex; border-radius: 5px;}
    .shrink .navbar-brand {margin-top: 4px;} 
    .shrunk .navbar-brand {margin-top: 4px;} 
    
  .navbar-brand {margin-top: 5px;}
  .navbar-toggle {margin-right: 5px;}
  .header-logo {width: 150px !important; margin-top: -1px !important;}
  /* .grid-row {padding-bottom: 0px !important;} */
  .thumbnail .btn-primary {padding: 10px !important;}
  .thumbnail p {margin: 0px auto;}
  .thumbnail {text-align: center;}
  .thumbnail > .caption {text-align: left;}
  .caption ol {list-style-type: none !important; padding-left: 0px !important;}
       .speakers-page h2 {margin-top: -10px; }
     .speakers-page p {padding-bottom: 2rem;}

     #main-content  .container {display: block !important;}

  .header-button-front {display: none;}
  #why-attend {background-color: #385e81;}

  .index-text h3 {font-size:17px; line-height: 25px;}

  #why-attend .about-container h3 {font-size: 17px; padding: 10px; letter-spacing: 0px;}



}

@media (max-width: 661px) {
  .campus-map img {margin-top: 5px;}
  .blue-background1 p {display: none;}
  .blue-background2 p {display: none;}
  .about-background p {display: none;}
  #first-time-vids {display: none;}

  .container > .sponsors-page {
    padding: 2rem;
  }
}

@media (min-width: 600px) {
  .sf19-page-image, .sf18-page-image, .sf17-page-image, .sf16-page-image, .sf15-page-image, .sf14-page-image, .sf13-page-image, 
  .sf12-page-image, .sf11-page-image, .sf10-page-image, .sf09-page-image, .sf08-page-image {padding: 201px;}
}

@media (max-width: 599px) {
  .sf19-page-image, .sf18-page-image, .sf17-page-image, .sf16-page-image, .sf15-page-image, .sf14-page-image, .sf13-page-image, 
  .sf12-page-image, .sf11-page-image, .sf10-page-image, .sf09-page-image, .sf08-page-image {padding: 75px;}
}

@media (max-width: 555px) {
   .textdec-none p {display: none;}
   
   .about-background1 p {display: none;}
   .blue-background h3 {font-size: 15px; word-wrap: break-word;}
   .blue-background1 h3 {font-size: 15px; word-wrap: break-word;}
   .blue-background2 h3 {font-size: 10px; word-wrap: break-word;}
   .about-background h3 {font-size: 15px; word-wrap: break-word;}
   .about-background1 h3 {font-size: 12px; word-wrap: break-word;}
   .sponsor-background h3 {font-size: 15px;}
   .btn-primary {letter-spacing: 0px !important; padding: 4px;}
   .about-header {height: 200px !important;}
   .schedule > li > a > h4 {font-size: 12px;}
   #ninety-nine-width span {font-size: 1.1rem;}
   .background-blue-aboutpage > #why-attend > .container {padding-left: 0px; padding-right: 0px;}
   .first-time-image {display: none;}
   .background-image {padding: 45px;}
   .background-image h3 {font-size: 3rem;}
}

@media (min-width: 502px) {
  #main-content  .container {padding-left: 40px; padding-right: 40px;}
}

@media (max-width: 501px) {
	.about-background {background-size: cover; padding: 15px;}
  .about-background1 {background-size: cover; padding: 15px;}
	.sponsor-background {background-size: cover; padding: 15px;}
	.blue-background1 {background-size: cover; padding: 15px;}
	.blue-background {background-size: cover; padding: 15px;}
  .blue-background2 {background-size: cover; padding: 15px;}
  .thead-default th {font-size: 14px; text-transform: none; padding: 3px !important;}
  .thead-default span {display: none;}
  .reg-table {display: grid !important; justify-content: center;}
  .reg-table > .table-striped {display: -webkit-inline-box;}
  .reg-table > .table-striped > tbody {display: table-cell;}
  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {padding: 1px;}
  .reg-header-background h2 {font-size: 30px !important;}
  .reg-header-background > h2 > p {font-size: 15px !important;}
  .agenda-header-background h2 {font-size: 30px !important;}
  .agenda-header-background > h2 > p {font-size: 15px !important;}
  h1 {font-size: 32px;}
  .schedule > li > a {padding: 5px;}
  .schedule span {display: none !important;}
  .table-responsive>.table>tbody>tr>th>h4 {font-size: 1.2rem;}
  .table-responsive>.table>tbody>tr>th:first-child {font-size: 1rem; padding:3px;}
  .table-responsive>.table>tbody>tr>th>p {font-size: 1.1rem;}
  .btn-primary {font-size: 11px;}
  #why-attend > .container > .about-text {padding-left: 0; padding-right: 0;}
  .why-reason-text > p {font-size: 12px !important;}
  #main-content  .container {padding-left: 0px; padding-right: 0px;}
  #main-container p {letter-spacing: -.6px; font-size: 13px;}
  .background-blue h2 {font-size: 23px; padding-top: 5px; margin-top: 5px;}

} 


.grid-row {padding-bottom: 60px;}

.no-padding {padding: 0px; display: flex; width: 100%;}

.btn-primary{letter-spacing: 1px; 
    white-space: inherit;}

.lb-outerContainer {display:;}

/* FOOTER CSS */
.footer {background: linear-gradient(to bottom, rgb(0, 36, 72), rgb(1, 56, 111)); border-top: 6px solid #0a8cff;}

.footer-social {
    display: flex; justify-content: center; padding-left: 0px; padding-top: 30px; padding-bottom: 30px; margin-bottom: 0px;
}
.footer-social img {width: 50px;}

.footer p {text-align: center; font-size: 16px; padding-bottom: 10px; text-shadow: none;}
.footer a {color: white; font-weight: 100;}
.footer a:hover {color: #68ccff; text-decoration: none;}

/* ABOUT CSS */


.about-text {margin-top: 40px; margin-bottom: 40px;}
.about-text p{text-shadow: none; color: black; letter-spacing: -.1px; font-size: 16px; font-family: "helvetica"; font-weight: 100;}
.about-text h2:first-child {margin-top: 0px;}
.about-text li {    text-shadow: none;
    color: black;
    letter-spacing: 0px;
    font-size: 16px;
    font-family: "helvetica"; font-weight: 100;
}

.about-gallery {padding-bottom: 30px; margin-top: 40px;}
.about-gallery img { border-radius: 9px;}

.about-header {padding-right: 0px; padding-left: 0px; padding-bottom: 30px; height: 350px;}
.about-image {background: url('../img/campus-map.jpg'); background-size: cover;}

/* SPONSORS PAGE CSS */
.sponsors-background {background: url('/img/sponsors/sponsors-background.jpg');}

.sponsors-page p {text-shadow: none !important; color: white; letter-spacing: 0px;}
.sponsors-page .col-lg-6:last-child {padding-bottom: 20px;}
.sponsors-page img {width: 250px;}
.sponsors-page h2 {clear:both; padding-top: 20px;}
.sponsors-page h3 {letter-spacing: 1px;}
.sponsors-page .col-lg-6 {padding-left: 0px; padding-right: 50px;}

#sysdig-pic {
  width: 150px;
}

.clear-both {clear: both;}

.sponsor-site-message {
  padding: 1rem;
  text-align: center;
  background: #9bd;
  color: white;
}
.sponsor-site-message p {
  margin: 0;
}

/* RETROSPECTIVE PAGE CSS */
.retrospective-page img {width: 100%; border-radius: 5px;}
.retrospective-page li {font-family: 'helvetica'; letter-spacing: 0.4px;}
.retrospective-page p {text-shadow: none !important; color: black; font-family: 'helvetica'; letter-spacing: 0px;}
.retrospective-page .col-lg-6 {padding: 25px;}
.retrospective-page btn {padding: 10px;}
.retrospective-page btn > a {color: white; font-family: 'helvetica';}
.retrospective-page blockquote {font-family: 'helvetica'; letter-spacing: 0px; line-height: 20px;}

.post-footer {margin-top: 15px;}

.post-media {width: 100%;}
.post-media img {width: 100%; border-radius: 6px;}

.post-excerpt {padding-bottom: 35px;}

.sponsor-list img {padding: 12px; padding-left: 55px; padding-right: 55px; max-height: 185px;}

/* Responsive iframe */
.responsive-iframe { 
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
}

.responsive-iframe iframe {position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.responsive-iframe-youtube {
     position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.shrink {height: 98px;}
.shrink .navbar {min-height: 98px;}
.shrink .navbar-brand {font-size: 30px;}
.shrink .navbar-brand span {font-size: 1.2rem; margin-top: -8px; margin-left: 32px; letter-spacing: -.05rem;}
.shrink .header-logo {width: 150px; margin-top: -9px;}
.shrink .front-background h1 {font-size: 35px;}


.shrunk {height: 80px;}
.shrunk .navbar {height: 80px; background-color: white;}
.shrunk .navbar-brand {font-size: 30px;}
.shrunk .header-logo {width: 28px; margin-top: -6px; margin-right: 3px;}
.shrunk .front-background h1 {font-size: 35px;}


/* Registration Page CSS */
.reg-p p {color: black; text-shadow: none; letter-spacing: .5px; padding: 5px;}

.smaller-body {margin-top: 80px;}

.thead-default {
    background: linear-gradient(to bottom, rgb(0, 36, 72), rgb(1, 56, 111)) !important;
    color: white;
    font-size: 15px;
    font-weight: 100;
    text-transform: uppercase;
}
.thead-default > th {vertical-align: bottom !important; text-align: center;
}
.thead-default > td {vertical-align: bottom !important; text-align: center;
}

.td-centered {
    text-align: center; vertical-align: center !important;}

.table {margin-bottom: 0px;}

.table > tbody > tr > td {
    font-family: 'helvetica'; letter-spacing: 0.5px;
}
.table > tbody > tr > th {
    font-family: 'helvetica'; letter-spacing: 0px;
}

.reg-header {padding-right: 0px; padding-left: 0px;}
.reg-header-background {background-color: #031d3c; height: 333px; color: white; display: flex;
  justify-content: center;
  align-items: center;}
.reg-header-background p {font-family: 'helvetica'; }
.reg-header-background h2 {font-size: 44px;}
.reg-header-background > h2 > p {font-size: 18px; padding-top: 17px; padding-bottom: 7px;}
.reg-table {padding-top: 20px; padding-bottom: 20px; display: flex;}

.reg-background-image {background-image: url('../img/sf19us/devs-background.jpg'); background-size: cover; padding: 180px;}
.reg-row {padding: 40px; margin-right: 0px; margin-left: 0px;}
.reg-row h4 {font-family: 'helvetica'; margin-top: 20px;}

.img-fluid {height: auto; max-width: 100%;}

.reg-accordion {padding-bottom: 30px;}
.reg-accordion .card {margin-bottom: 0px;}
.reg-accordion .card-header{ background: linear-gradient(to bottom, rgb(0, 36, 72), rgb(1, 56, 111)); padding: 3px; padding-left: 10px;}
.reg-accordion .card-header a{text-decoration: none; color: white; text-transform: uppercase; letter-spacing: 0px;
                               font-family: 'helvetica'; font-weight: 800;}
.reg-accordion .card-header a:hover{color: #92c4f4;}
.reg-accordion .card-block {font-family: 'helvetica'; letter-spacing: .5px;}
.reg-accordion .table-striped th{font-weight: 100;}
.reg-accordion .table-striped2 th{font-weight: 100;}
.reg-accordion .table-striped th:first-child{font-weight: 800; width: 20%;}

.table-striped a {color: #46cef3;}
.table-striped ul {padding-left: 20px; margin-bottom: 0px;}

#collapseOne {word-break: break-word;}
#collapseThree {word-break: break-word;}

.card-block p {color: black; text-shadow: none;}

.cancel-table th {padding: 4px !important; text-align: center;}

.btn-xl {
    padding: 14px 12px;
    font-size: 26px;
    line-height: 1.3333333;
    border-radius: 6px
}

/* SpeakApp CSS */
textarea {height: 180px; width: 80%;}

#form_923064 ul {padding: 0px;}

.speakapp {margin-top: 100px;}

#speakerList li {list-style: disc;}

#speakerLi input {width: 100%;}
#speakerLi span {color: red;}

.post-body p {font-family: 'helvetica'; color: black; letter-spacing: .5px; text-shadow: none;}
.post-body li {font-family: 'helvetica'; color: black; letter-spacing: .5px; list-style: none;}

/* Lodging Page CSS */
.clear-left {clear: left;}

.caption ol {padding-left: 20px;letter-spacing: 0px; list-style-type: disc;}
.caption li {font-family: 'helvetica';}
.caption p {padding-top: 10px;}
.thumbnail img {border-radius: 5px;}

.caption > ol > li:last-child {list-style-type: none;}
.caption > div > ol {letter-spacing: -.5px;}

.lodging-page {margin-bottom: 5rem;}
.lodging-page h3, h4 {letter-spacing: 0.5px;}
.lodging-page-img {background-image: url("../img/sf20us/mariott.jpg"); background-size: cover; padding: 220px;}
.lodging-page-p {font-family: 'helvetica'; color: black;letter-spacing: .5px; text-shadow: none;}

.col-sm-12 > .caption {display: flex; justify-content: center; max-width: 661px; margin: 0 auto;}

.lodging-iframe {text-align: center; position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    margin-top: 10px;}
.lodging-iframe iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-disclaimer {padding-top: 19px;}

/*Agenda CSS*/
.table-responsive>.table>tbody>tr>th>h4 {white-space: normal;}
.table-responsive>.table>tbody>tr>th {white-space: nowrap; min-width: 80%;}

.nav-justified>li {display: table-cell; width: 1%;}
.nav-justified>li>a {margin-bottom: 0px; color: white;}

.schedule-lvl1 {}

.schedule > li {background: #031d3c;}
.schedule > li > a:focus {outline: none; background-color: #031d3c; }
.schedule > li > a:hover {outline: none; background-color: #031d3c; }
.schedule span {display: block; font-size: 1.4rem; line-height: 2.4rem;}
.schedule h4 {margin: .3rem;}

.lvl2 {margin-left: -15px; margin-right: -15px;}
.lvl2 > .schedule > li {background-color: #fff;}
.lvl2 > .schedule > li:hover {background-color: #fff;}
.lvl2 > .schedule > li > a {background-color: #fff; color: #031d3c;}
.lvl2 > .schedule > li.active > a {color:#337ab7;}
.lvl2 > .schedule > li > a:hover {background-color: #fff; color: #337ab7;}
.lvl2 > .schedule > li > a:focus {background-color: #fff; color: #337ab7;}
.lvl2 > .schedule:before {}

.schedule-table > tbody > tr > th {vertical-align: middle;}
.schedule-table p {color: black; text-shadow: none;}

.agenda-header {padding-right: 0px; padding-left: 0px;}
.agenda-header-background {background-color: #031d3c; height: 333px; color: white; display: flex;
  justify-content: center;
  align-items: center;}
.agenda-header-background p {font-family: 'helvetica'; }
.agenda-header-background h2 {font-size: 44px;}
.agenda-header-background > h2 > p {font-size: 18px; padding-top: 17px; padding-bottom: 7px;}



/* COUNTDOWN CSS */

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: block;
    font-weight: 100;
    text-align: center;
    font-size: 1.6rem;
    margin: 0 auto;
}

#clockdiv > div{
    padding: 8px;
    border-radius: 3px;
    display: inline-block;
}

#clockdiv div > span{
    border-radius: 3px;
    display: inline-block;
}

.smalltext{
    font-size: 1.2rem;
}


/* SharkBytes CSS */
#contact-area h3 {margin-bottom: 25px;}

.margin-20px {margin-bottom: 20px;}

.sharkbyte-image {text-align: center; margin-top: 20px;}
.sharkbyte-image img {max-width: 150px;}

.sharkbytes h2 {padding: 5px; letter-spacing: -.1px;}
.sharkbytes p {color: #000; text-shadow: none; font-family: 'helvetica'; padding: 5px; margin-bottom: 0px;}
.sharkbytes li {color: #000; text-shadow: none; font-family: 'helvetica'; letter-spacing: 0;}

.sharkbytes .responsive-iframe:last-child {margin-bottom: 20px;}
.sharkbytes iframe {padding: 5px;}

.sharkbytes .blue-text-background {background-color: #a6bfd2;}

.sharkbytes form {height: 60vh;}
.sharkbytes label {font-size: 16px;}
.sharkbytes input {width: 100%;}
.sharkbytes input:last-child {}

.vh-100 {height: 70vh;}

/* SPEAKERS PAGE CSS */
.speakers-page > .col-sm-3 {text-align: center;}
.speakers-page {height: 74vh; display: table-cell;}
.speakers-page img {width: 100%; padding: 30px; max-width: 300px; min-width: 200px;}
.speakers-page p {color: black; text-shadow: none; font-family:  'helvetica'; margin-bottom: 2rem;}


/* SF19US 2019 US CSS */
/* Main Page / Home Page / Homepage / Index */
.column {padding: 10px; display: flex;}
.grid-cell {padding: 30px; padding-top: 15px;}

#main-container {margin: 0; padding: 0; width: 100%; position: relative; overflow: hidden; }
#main-container > .grid-row {padding: 10px;}

#main-content {max-width: 1400px; margin: auto;}
#main-content  .container {display: flex; background-color: white;}

.background-image {background-image: url("../img/sf20v/home-intro.jpg"); background-size: cover; background-position: center;}
.background-image h3 {font-weight: 400; letter-spacing: 0; text-align: center; background: transparent; color: white; margin: 0 auto; width: 81%;}

.front-agenda-image {background-image: url("../img/sf20us/sake-teaching.jpg"); background-size: cover; background-position: left;}
.front-sponsor-image {background-image: url("../img/sf20us/sponsor-pic.jpg"); background-size: cover; background-position: center;}

.retro-image {position: absolute;}
.retro-image img {width: 100%; height: auto;}
.retro-homepage {background: url('/img/clock-retro.png');
    background-size: contain;
    padding: 76px;
    background-repeat: no-repeat;
    background-position: center;}

.background-blue {background: linear-gradient(to bottom, rgb(0, 36, 72), rgb(1, 56, 111));}
.background-blue h2 {color: white;}
.background-blue p {color: white;}

.index-text {text-align: center;}
.index-text h3 {text-align: center; font-weight: 400; margin: 0; font-family: sans-serif;
               letter-spacing: normal;}

.front-button {text-transform: uppercase;
    padding: 14px 30px 12px;
        padding-right: 30px;
        padding-left: 30px;
    border: 2px solid #7ca7f5;
    border-radius: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    margin: 10px auto 0 auto;
    display: inline-block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.0em;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: white;
    background:#001e3b;
    text-decoration: none;

}
.front-button:hover {text-decoration: none; color:#a4d4ff;}
.front-button:focus {text-decoration: none; color:#a4d4ff;}
.front-button h4 {margin: 0;}

.header-button {text-transform: uppercase;
    padding: 14px 30px 12px;
        padding-right: 20px;
        padding-left: 20px;
    border-radius: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    display: inline-block; text-align: center; letter-spacing: 1px; line-height: 1.0em;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; color: white; background-color:#64819e; text-decoration: none;
    border: 2px solid #7ca7f5;}

.header-button:hover {text-decoration: none; color:#a4d4ff;}
.header-button:focus {text-decoration: none; color:#a4d4ff;}
.header-button h4 {margin: 0;}

.header-button-front {margin-left: 16px;}

.about-button {position: absolute; bottom: 0; padding: 20px; color: white; text-align: center; background-color: #0003; width: 100%;}
.about-button:hover {background-color: #0005; transition: background-color 0.5s ease;}
.about-button a {color: white; }
.about-button a:hover {text-decoration: none; color: #b7cef8cc; transition: color 0.5s ease;}

.front-column1 {min-height: 400px; padding: 0;}

.reg-button-front {margin-top:20px;}

#ninety-nine-width {width: 95% !important; background: transparent; text-align: center; max-width: 1300px;}

.announcement { 
  background: #e76268;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
}
.announcement p {margin: 0; }

/* ABOUT PAGE */
.about-page-image {background: url("../img/sf20us/20.jpg"); padding: 201px; background-size: cover; background-position-y: 25%;}

.about-content > .about-text {margin-bottom: 0px;}
.about-content {margin-bottom: 40px;}

.about-container {padding: 10px;}
.about-container h2, h3 {background-color: #00356a; color: white; padding: 5px; font-weight: 100;}

#why-attend {max-width: 1400px; margin: auto;}
#why-attend > .container {padding-left: 40px; padding-right: 40px; display: flex; background-color: linear-gradient(to bottom, rgb(0, 36, 72), rgb(1, 56, 111));}

#why-attend .about-container h2, h3 {background-color: #ffffffb3; color: #000c;}

.about-cell {margin-bottom: 10px;}

.column-about img {width: 100%;}

.background-blue-aboutpage {background: linear-gradient(to bottom, rgb(0, 36, 72), rgb(1, 56, 111)); display: table; width: 100%;}


/* Why Attend CSS */
.why-attend p {font-family: 'helvetica'; letter-spacing: 0rem; font-size: 1.5rem; }

.why-body {}
.why-body button {border-radius: 1rem; border-radius: 1rem; width: 100%; border: 0px; padding: 10px; letter-spacing: 1px;
font-size: 2rem; color: #fff; background-color: #337ab7;
}
.why-body button:hover {color: #71b7ea;}
.why-body .card-block {font-family: 'helvetica'; letter-spacing: 0px;}

.why-tabs-background {padding: .8rem; background-color: #fff3;}

.why-list {display: inline-flex; margin-bottom: 0px; font-family: "Helvetica"; font-size: 18px; letter-spacing: 0px; padding:0px;}
.why-list li {padding: .8rem; color: white;}
.why-list > li > a {color: white;}
.why-list-div {display: flex;}

.why-alt-background-color {background: #354a63;}

.why-table {display: table;}
.round-background {width: 6rem; height: 6rem; background: #ffffffb3; border-radius: 100%; 
}
.round-background h2 {margin: 0; line-height: 5rem;
text-align: center; }
.round-background > h2 {background-color: transparent !important;}

.why-reasons {padding: 4rem; padding-left: 2rem;}
.why-reason-text {padding:1rem; position: absolute; left: 9rem; top: 2.7rem;
}
.why-reason-text p {color: #ffffffe6; line-height: 17px;}

.orange-h2 {color: #f2803a; display: flow-root; text-align: center;}

/* SPONSORS CSS */
.sponsors-page {padding: 30px; margin-top: 20px;}
.sponsors-page h2 {padding: 13px; margin-bottom: 0px; background-color: #64819e; width: 100%;}
.sponsors-page h3 {margin-top: 0px;}
.sponsors-page .column-about {padding-top: 0px;}
.sponsors-page .background-blue {margin-bottom: 40px;}
.sponsors-page > .background-blue > .col-lg-12 > a > img {width: 200px; padding-top: 20px; padding-bottom: 20px;}

.sponsor-margin-top {}
.sponsor-padding-bottom {padding-bottom: 3px;}

/* RETROSPECTIVE CSS */
.retro-container {margin-top: 5rem;}

.retro-text {color:white;}
.retro-text h1 {margin: 0; width: 100%; position: relative; margin-top: 14px;}
.retro-text p {padding-top: 16px; margin-bottom: 0px;}

.retro-img-wrapper {margin-top: 10px;}
.retro-vid-wrapper {margin-bottom: 40px;}

.retro-margin-bottom {margin-bottom: 30px;}

.retrospective-page {margin-top: 40px;}
.retrospective-page h3 {font-family: sans-serif; text-transform: uppercase; padding-left: 0px;}
.retrospective-page h4 {font-family: sans-serif; color: white; text-transform: uppercase;}
.retrospective-page .background-blue {margin-top: 20px;}

.sponsor-imgs {display: block;}
.sponsor-imgs h4 {margin-top: 25px; font-weight: 500; text-align: center; margin-bottom: 20px; color: white; font-family: sans-serif; text-transform: uppercase;}

.sf19-page-image {background: url("../img/retrospective/sf19new.jpg"); background-size: cover; background-position: center;}
.sf18-page-image {background: url("../img/retrospective/sf18new.jpg"); background-size: cover;}
.sf17-page-image {background: url("../img/retrospective/sf17new.jpg"); background-size: cover;}
.sf16-page-image {background: url("../img/retrospective/sf16new.jpg"); background-size: cover;}
.sf15-page-image {background: url("../img/retrospective/sf15new.jpg"); background-size: cover; background-position-y: bottom;}
.sf14-page-image {background: url("../img/retrospective/sf14new.jpg"); background-size: cover;}
.sf13-page-image {background: url("../img/retrospective/sf13new.jpg"); background-size: cover;}
.sf12-page-image {background: url("../img/retrospective/sf12new.jpg"); background-size: cover; background-position-y: center;}
.sf11-page-image {background: url("../img/retrospective/sf11new.jpg"); background-size: cover;}
.sf10-page-image {background: url("../img/retrospective/sf10new.jpg"); background-size: cover; background-position: center;}
.sf09-page-image {background: url("../img/retrospective/sf09new.jpg"); background-size: cover; background-position: center;}
.sf08-page-image {background: url("../img/retrospective/sf08new.jpg"); background-size: cover;}

.post-excerpt > .retro-vid-wrapper > h4 {color: black; letter-spacing: normal; text-transform: none;}

.flickr-feed {padding-top: 20px;}

/* FIRST TIME CSS */
.first-time-image {background: url("../img/sf19us/group-shot.jpg"); background-size: cover; padding: 180px;
background-position-y: -43px; background-repeat: no-repeat; }

.why-reason-text a {color: #6fa1cc;}

.responsive-iframe2 {position: relative; height: 0; overflow: hidden; padding-bottom: 35vh;}
.text-center {text-align: center;}

/* NEW AGENDA CSS */

.agenda-background-image {background-image: url('../img/sf19us/agenda-background.jpg'); background-size: cover; 
                      padding: 180px;}

.agenda-container {padding: 30px; padding-top: 0px;}

.table-responsive > .table > tbody > tr > th:first-child {max-width: 160px; min-width: 140px;}


